<?php

// 1. Definisikan parameter koneksi
$db_host = "localhost";
$db_user = "ganti_dengan_user_anda";    // <- UBAH INI
$db_pass = "ganti_dengan_password_anda"; // <- UBAH INI
$db_name = "db_diary";

// 2. Buat koneksi menggunakan mysqli_connect
$koneksi = mysqli_connect($db_host, $db_user, $db_pass, $db_name);

// 3. Cek koneksi
if (!$koneksi) {
    die("KONEKSI GAGAL: " . mysqli_connect_error());
}

?>